language: node_js
node_js:
  - node # uses most recent stable node version
services:
  - postgresql # starts up postgres
addons:
  postgresql: '9.6' # highest available postgres version on Travis
dist: trusty # uses trusty environment
sudo: false # when on trusty, uses Docker containers for speed
notifications:
  email:
    on_success: change # default: change (only when going from broken to fixed)
    on_failure: always # default: always (which is annoying, as it should be)
install:
  - npm ci # faster, goes only from package-lock
before_script:
  - psql -c 'create database "books-a-lot-test";' -U postgres # remember to change this name if you change it elsewhere (e.g. package.json)
script:
  - npm test # test the code
  - npm run build-client # make the bundle

 before_deploy:
   - rm -rf node_modules # omit from the tarball, since we skip cleanup
 deploy:
   skip_cleanup: true # prevents travis from deleting the build
   provider: heroku
   app: books-a-lot-co # see README
   api_key:
     secure: tBQq47LpjO//b0Y3jTkFOdP2m9K6PZOB4ryLvHjlMoQt3GUgz08RSIGeEDpoArQ/t5ZA75biffyxWrwb52/c8IAHKdhIchwKjJ9MIhHLQr+2itGuW3nHtuzZIIKg6XubrNKauclKSgSh/BCUqm68o06XlSUUkarouYq4ZG1vQBrop8BdG186U7iBN0QtE03feZncKYEfBzW84nhU2c6qE8qYnk3sq0AQHSUO2IG6gNN2N/ZkJjVudZvzSN2yxjpKalLC26NzdGRUUCF6mtJ6S/PmJx1aVjZBR7mNU6VqnTupjXqhWN9pKsEJyu86ii120Nf/23FCY1ruRuEwQw4qUXQHv3zZOTGrrA0RCEz33PSJ4bLjXbg1+K2JY0R+DA1k3cxC/GruZ/aeeYCpDcYgduDo4hMsAkQdUfhN5QZdORncELLb1LNxJj3oIJhd+Wqt6osyEBXyXhXV0ETAlfsApV/mOiklOK19SX4XV51AOkjj7AWkpXd+siz92C/IiCIXsuu3l7ZLEIUDB0qVob+MySiTfMnnRRxd9HrmhgUml8VRgDgvhZlDrXv83uQG3wIluEwDxK/Li0YTrIn007bRvLjX3CTFV09RTWorXp29T8vEPbFLbXjKzFFMKkdAruH8x/DOpc/Vn1ArWzL3FFTNH/9z+J4r6e3H6mmNSOEMVkU=
#testing!
