body {
  font-family: 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 2 32%;
}

.center {
  text-align: center;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: blue;
}

form div {
  margin: 1em;
  display: inline-block;
}
